@use "../global/" as gbl;

.c-title-jp{
  position: relative;
  font-size: gbl.rem(28);
  line-height: gbl.lh(40, 28);
  letter-spacing: gbl.ls_from_px(2.24, 28);
  width: fit-content;
  margin: 0 auto;

  text-align: center;
  
  @include gbl.mq(sp){
    @include gbl.font(20);
    letter-spacing: gbl.ls_from_px(1.6, 20);
  }

  &::before,&::after{
    content: "";
    position: absolute;
    background: url(../img/pc/top/title-deco.svg) no-repeat center center / contain;
    width: 67px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);

    @include gbl.mq(sp){
      width: 49px;
      height: 13px;
    }
  }
  
  &::before{
    right: calc(100% + 28px);

    @include gbl.mq(sp){
      right: calc(100% + 16px);
    }
  }
  
  &::after{
    left: calc(100% + 28px);
    @include gbl.mq(sp){
      left: calc(100% + 16px);
    }
  }
}

.c-title-eg{
  font-size: gbl.rem(14);
  line-height: gbl.lh(36, 14);
  letter-spacing: gbl.ls_from_px(1.4, 14);
  color: map-get(gbl.$color, main);
  font-weight: 700;
  
  @include gbl.mq(sp){
    @include gbl.font(11);
    // line-height: gbl.lh(36, );
    letter-spacing: gbl.ls_from_px(1.1, 11);
  }
}